.modal-container {
    align-items: center;
    background-color: var(--blue-dark);
    display: none;
    height: 100vh;
    justify-content: center;
    position: fixed;
    width: 100vw;
  }
  
  /* #modal-header {
    outline: 3px solid var(--blue-light);
  } */
  
  .modal {
    align-items: center;
    /* background-color: var(--gris-oscuro); */
    background-image: linear-gradient(to bottom, #39a2db, #1f86b1, #0b6b89, #045164, #053742);
    border-radius: 5px;
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
    height: 800px;
    justify-content: center;
    position: fixed;
    top: 5%;
    width: 70%;
    padding: 56px;
  }
  
  #modal-header {
    color: var(--blanco);
      font-family: var(--main-font);
      font-size: 55px;
  }
  
  .modal-project-image {
    background: center / cover no-repeat url("../assets/images/project1.png");
    border-radius: 5px;
    border: 2px solid #000;
    height: 600px;
    margin: 50px 0 40px;
    width: 650px;
  }