.modal-container {
    align-items: center;
    background-color: var(--blue-dark);
    display: none;
    height: 100vh;
    justify-content: center;
    position: fixed;
    width: 100vw;
  }
  
  /* #modal-header {
    outline: 3px solid var(--blue-light);
  } */
  
  .modal {
    align-items: center;
    background-image: linear-gradient(to bottom, #39a2db, #1f86b1, #0b6b89, #045164, #053742);
    border-radius: 5px;
    border: 3px solid var(--blanco);
    display: flex;
    flex-direction: column;
    height: 800px;
    justify-content: center;
    position: fixed;
    top: 5%;
    width: 70%;
    padding: 20px;
  }

.modal-card {
  display: flex;
  justify-content:center;
  align-items: center;
}


  #modal-header {
    color: var(--blanco);
      font-family: var(--main-font);
      font-size: 55px;
      margin-bottom: revert;
  }

  .modal-project-image {
    border-radius: 5px;
    border: 2px solid #000;
    height: 250px;
    margin: 0 30px 0 30px;
    width: 250px;
  }

  .arrow-left {
    background-color: var(--blue);
    border-radius: 50%;
  }

  .arrow-right {
    background-color: var(--blue);
    border-radius: 50%;
  }
  
  .arrow:focus {
    outline: 3px solid var(--blue);
  }