nav {
    width: 100%;
    margin: 0 0 30px;
}


.navigation {
    color: var(--blanco);
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    margin: 24px auto;
    width: 50%;
}

.nav-item a {
    text-decoration: none;
    color: var(--blanco);
    font-size: 25px;
}

.nav-item {
    align-items: center;
    border-radius: 5px;
    display: flex;
    font-family: var(--secondary-font);
    height: 30px;
    justify-content: center;
    width: 33%;
    height: 50px;
}

.nav-item:hover,
.nav-item:hover a {
    background-color: var(--blue-light);
    color: var(--gris-oscuro);
    cursor: pointer;
}

.nav-item:focus-within {
    background-color: var(--blue-light);
}

.nav-item a:focus {
    outline: none;
    color: var(--gris-oscuro);
}