
nav {
    width: 100%;
    margin: 0 0 30px;
    display: flex;
}


.navigation {
    color: var(--blanco);
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    margin: 24px auto;
    width: 70%;
    height: 100px;
}

.nav-item a {
    text-decoration: none;
    color: var(--blanco);
    font-size: 25px;
}

.nav-item {
    align-items: center;
    border-radius: 5px;
    display: flex;
    font-family: var(--secondary-font);
    justify-content: center;
    width: 90%;
    height: 42%;
    text-align: center;
}

.nav-item:hover {
    border: 3px solid var(--blanco);
}
.nav-item:hover,
.nav-item:hover a {
    background-color: var(--blue-light);
    color: var(--gris-oscuro);
    cursor: pointer;

}

.nav-item:focus-within {
    background-color: var(--blue-light);
    border: 3px solid var(--blanco);
}

.nav-item a:focus {
    outline: none;
    color: var(--gris-oscuro);
    
}