@import "./modal.css";
@import "./global.css";
@import "./nav.css";
@import "./projects.css";
@import "./contact.css";
@import "./profile.css";

:root {
  --blanco: white;
  --gris-medio: #333333;
  --gris-oscuro: #1e1e1e;
  --main-font: "Oswald", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
  --shadow: rgba(0, 0, 0, 0.75);
  
  --blue-dark: #053742;
  --blue: #39A2DB;
  --blue-light: #A2DBFA;
  --light: #E8F0F2;
}



.skip-link {
  height: 0;
}

.skip-link:focus,
.skip-link:active {
  background: var(--verde);
  border-radius: 5px;
  color: var(--gris-oscuro);
  font-family: var(--secondary-font);
  height: auto;
  margin: 16px 0 8px;
  padding: 8px;
  text-decoration: none;
  border: 5px solid var(--gris-oscuro);
  outline: 3px solid var(--verde);
}







.arrow {
  height: 75px;
  transition: all 0.2s ease-in-out;
  width: 75px;
}

.arrow:hover {
  transform: scale(1.1);
}

.arrow-left {
  background: center / contain no-repeat url("../assets/icons/play-button-left.png");
  background-color: var(--blue-light);
  border-radius: 50%;
}

.arrow-right {
  background: center / contain no-repeat url("../assets/icons/play-button-right.png");
  background-color: var(--blue-light);
  border-radius: 50%;
}

.arrow:focus {
  outline: 3px solid var(--blue-light);
}



