/* @media screen and (min-width: 426px) and (max-width: 768px) */

    .navigation {
        color: var(--blanco);
        cursor: pointer;
        display: flex;
        justify-content: space-around;
        /* margin: 24px; */
        width: 100%;
        height: 160px;
        align-items: center;
    }
    .intro {
        margin: 10px 0 40px;
        font-family: var(--secondary-font);
        font-size: 20px;
        color: var(--blanco);
        width: 75%;
    }

    .project-img {
        border-radius: 10px;
        display: inline-block;
        height: 330px;
        transition: all 0.2s ease-in-out;
        width: 350px;
        object-fit: cover;
    }

    .intro-contact {
        margin: 10px 0 40px;
        font-family: var(--secondary-font);
        font-size: 18px;
        color: var(--blanco);
        width: 80%;
    }

    .social-media {
        display: flex;
        justify-content: space-around;
        margin: 40px;
        width: 80%;
        height: 60%;
        /* flex-direction: column; */
        align-items: center;
        /* flex-wrap: wrap; */
    }

    .form-container {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .social-media li a {
        align-items: center;
        display: flex;
        color: var(--blanco);
        font-family: var(--secondary-font);
        text-decoration: none;
        flex-direction: column;
    }
